{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block content %}


<form action="/edit_gym_plan/{{ id }}" method="POST">

<h2>Muokkaa salisuunnitelmaa</h2>
<h3>Suunnitelman tiedot:</h3>
Suunnitelman nimi: {{ info[2] }} <br>
Suunnitelman kuvaus: {{ info[3] }} <br>
Suunnitelman luomisajankohta: {{ info[4].strftime("%d.%m.%Y klo %H:%M:%S") }} <br>
<a href="/edit_gym_plan_info/{{ id }}">Muokkaa suunnitelman tietoja</a>
<h3>Suunnitelman laitteet:</h3>

<h4>Suunnitelmaan lisätyt aerobiset laitteet:</h4>
{% for machine in c_m_in_a_plan %}
Laitteen nimi: {{ machine[0] }}<br>
{% if not machine[2] %}
LAITE EI OLE KÄYTÖSSÄ <br>
{% endif %}
Aikatiedot: {{ machine[3] }} <br>
Vastustiedot: {{ machine[4] }} <br>
Lisätiedot: {{machine[5]}} <br>
<a href="/edit_gym_plan_machine/1/{{ machine[6] }}">Muokkaa laitteen treenitietoja</a> | 
<a href="/delete_machine_from_a_plan/1/{{ machine[6] }}">Poista tämä laite tästä salisuunnitelmasta</a>
<hr>
{% endfor %}

<h4>Suunnitelmaan lisätyt voimalaitteet:</h4>

{% for machine in s_m_in_a_plan %}
Laitteen nimi: {{ machine[0] }} <br>
{% if not machine[2] %}
LAITE EI OLE KÄYTÖSSÄ <br>
{% endif %}
Lihakset, joihin liike kohdistuu: {{ machine[1] }} <br>
Painotiedot: {{ machine[3] }} <br>
Toistotiedot: {{ machine[4] }} <br>
Lisätiedot: {{ machine[5] }} <br>
<a href="/edit_gym_plan_machine/2/{{ machine[6] }}">Muokkaa laitteen treenitietoja</a> | 
<a href="/delete_machine_from_a_plan/2/{{ machine[6] }}">Poista tämä laite tästä salisuunnitelmasta</a>
<hr>
{% endfor %}

<h3>Lisää uusi laite suunnitelmaan</h3>
<h4>Lisää aerobinen laite:</h4>
Valitse laite:
<SELECT name="c_machine">
{% for machine in c_machines%}
<option value="{{ machine[0] }}">{{ machine[1] }}</option>
{% endfor %}
</SELECT> <br>
Kerro kuinka pitkän session teet tällä laitteella ajallisesti: <br>
<textarea name="time_info" rows="5" cols="40"></textarea> <br>
Kerro minkälaisella vastuksella/nopeudella/tasolla jne. käytät laitetta:<br>
<textarea name="resistance_info" rows="5" cols="40"></textarea> <br>
Lisätietoja (esim. laitteen asetukset, istuimen korkeus, juomatauot ym.): <br>
<textarea name="additional_info" rows="5" cols="40"></textarea> <br>
<input type="submit" name="button" value="Lisää aerobinen laite">

<h4>Lisää voimailulaite:</h4>
Valitse laite:
<SELECT name="s_machine">
{% for machine in s_machines %}
<option value="{{ machine[0] }}">{{ machine[1] }}</option>
{% endfor %}
</SELECT> <br>
Kerro minkälaisilla painoilla teet toistoja: <br>
<textarea name="weight_info" rows="5" cols="40"></textarea> <br>
Kerro montako sarjaa ja toistoa teet:<br>
<textarea name="reps_info" rows="5" cols="40"></textarea> <br>
Lisätietoja (esim. laitteen asetukset tai mahdolliset lisävälineet): <br>
<textarea name="additional_info" rows="5" cols="40"></textarea> <br>
<input type="submit" name="button" value="Lisää voimailulaite">

{% endblock %}
