{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block content %}


<h2>Omat salisuunnitelmat:</h2>

Omien salisuunnitelmien määrä: {{ amount }} <br>

{% for plan in plans %}
<hr>
Nimi: {{ plan[0] }} <br>
Kuvaus: {{ plan[1] }} <br>
Luotu: {{ plan[2].strftime("%d.%m.%Y klo %H:%M:%S") }} <br>
| <a href="/edit_gym_plan/{{ plan[3] }}">tarkastele ja muokkaa</a> 
| <a href="/delete_gym_plan/{{ plan[3] }}">Poista tämä salisuunnitelma</a> | 

{% endfor %}
<h3><a href="/add_gym_plan">Luo uusi salisuunnitelma</a></h3>

{% endblock %}
