
{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block content %}

{% if session.username %}
<h1>Tervetuloa!</h1>
<h2>Toiminnot:</h2>

<h3><a href="/gym_plans">Tarkastele omia saliohjelmia</a> </h3>
Omien salisuunnitelmien määrä: {{ amount }}
<h3><a href="/achievements">Tarkastele omia saavutuksia</a></h3>
Saavutuksia kirjattu x kappeletta <br>
Viimeisin saavutus kirjattu y, <br>
joka oli laitteella x 

{% if session.admin %}

<h3><a href="/machines">Hallinnoi salin laitteita</a></h3> 
 
{% endif %}

{% else %}

<h3>Kirjaudu sisään</h3>
<form action="/login" method="POST">
Käyttäjätunnus:
<input type="text" name="username"><br>

Salasana:
<input type="password" name="password"> <br>

<input type="submit" value="Kirjaudu"> <br>
<a href="/sign_up">Eikö sinulla ole käyttäjää? Luo käyttäjä</a> <br>


{% endif %}

{% endblock %}
