<form action="/machines" method="POST">
<h2>Kuntosalin laitteet</h2>
<h3>Lisää salille uusi laite</h3>
Laitteen nimi: <br>
<input type="text" name="name"> <br>
Treenattavat lihakset: <br>
<textarea name="target" rows="2" cols="40"></textarea> <br>
Onko laite aerobinen vai lihaksia treenaava?:
<select name="type">
<option value="strength">Lihaksia treenaava</option>
<option value="cardio">Aerobinen</option>
</select>
<br>
<input type="submit" name="button" value="Lisää uusi laite">

<h3>Käytössä olevat laitteet</h3>
<hr>
{% for machine in machines %}
{% if machine[4] %}
Laitteen nimi: {{ machine[1] }} <br>
Laitteen tyyppi: 
{% if machine[3] == "strength" %}
lihaksia treenaava <br>
{% else %}
aerobinen <br>
{% endif %}
Treenattavat lihakset: {{ machine[2] }} <br>
| <a href="/edit_machine/{{ machine[0] }}">Muokkaa tämän laitteen tietoja</a> | 
<a href="/change_in_order/{{ machine[0] }}">Poista tämä laite käytöstä</a>
<hr>
{% endif %}
{% endfor %}

<h3>Poissa käytössä olevat laitteet</h3>

{% for machine in machines %}
{% if not machine[4] %}
Laitteen nimi: {{ machine[1] }} <br>
Laitteen tyyppi:                     
{% if machine[3] == "strength" %}
lihaksia treenaava <br>
{% else %}
aerobinen <br>
{% endif %}
Treenattavat lihakset: {{ machine[2] }} <br>
| <a href="/edit_machine/{{ machine[0] }}">Muokkaa tämän laitteen tietoja</a> |
<a href="/change_in_order/{{ machine[0] }}">Laita tämä laite takaisin käyttöön</a>
<hr>
{% endif %}
{% endfor %}

